/* News template CSS */
body{
    margin: 0;
    padding: 0;
}
#mainContainer{
    width: 90%;
    margin: 0 auto;
    background-color: #ccc;
}

#upperBar{
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: underline;
    height: 50px;
}  

#upperBar div{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-right: 3px;
}

#upperBar div:hover{
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

#imgHeader {
    width: 100%;
    height: 300px;
    background-color: #FCC;
    display: flex;
    justify-content: center;
}

.headerImage {
    width: 50%;
    height: 300px;
    display: inline-block;
}

#img1{
    background-image: url(martin-jernberg-80106.jpg);
    background-size: cover;
}
#img2{
    background-image: url(jeremy-bishop-262147.jpg);
    background-size: cover;
}

.mainMenuList li{
    display:inline-block;
    width: 19%;
    background-color: #000000;
    color: #ccc;
    text-align: center;
}

#mainContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.newsItem{
    display: flex;
    flex-direction: column;
    
    flex:1;
}

.newsItem .title{
    background-color:aquamarine;
    font-weight: 800;
    text-align: center;
    /* margin: 10px; */
    border: black solid 2px;
}

.newsItem .seeMore{
    background-color: black;
    cursor: pointer;
    background-repeat: 10px;
    width: 30%;
    text-align: center;
    color: wheat;
    align-self: center;
}

.newsItem .seeMore:hover{
    background-color: #fff;
    color: black;
}