body{
	background-color: blue;
	padding: 10% 10% 10% 10%;
	color:white;
}

.cool {
	width: 50%;
	text-align: center:
}
#button{
	margin-bottom: 20px;
}

#h1{
	border: 3px solid white;
	border-radius: 9px;
}


h1{
	margin-bottom: 40px;
	font-family:lobster;
}

#h21{
	font-size: 40px;
}

#32{
	font-size: 30px;
	font-style:italic;
}
/* https://api.twitter.com/1.1/search/tweets.json?q=%23quote&src=typd
