.header, footer{
    height: 10%;
    justify-content: center;
    display: flex;
    align-items: center;

}
html,
body {
    height: 100%;
    margin: 0;
}
.container{
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    height: 80%;
}

@media (max-width: 400px) {
    .container{
        grid-template:repeat(4, 1fr)/1fr;
    }
    .container :nth-child(2){
       order: 1;
    }
}
.outer1 {
    background-color: #96ceb4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outer1 h3 {
    background-color: beige;
    width: 80%;
    height: 20%;
    text-align: center;
    align-self: center;
    
}

.outer2 {
    background-color: #ff6f69;
    display: flex;
}

.inner1{
    background-image: url("jeremy-bishop-262147.jpg");
    height: 20%;
    width: 20%;
    margin: 5%;
    margin-right: auto;
    align-self: flex-end;
    background-size: cover;
}
.inner2{
    background-image: url("martin-jernberg-80106.jpg");
    height: 20%;
    width: 20%;
    margin: 5%;
    margin-left: auto;
    background-size: cover;
}
